<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity6">
<head>
<meta charset="ISO-8859-1">
<title>New User</title>
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/new-stuff.css}" rel="stylesheet" />
<link th:href="@{/css/themes/green.css}" rel="stylesheet" />
</head>
<body class="container">

	<div th:if="${error}">
		<div th:text="${error}"></div>
	</div>

	<form th:action="
			@{/addUser}" method="post" action="">
			<label for="username">Username</label><input type="text"
				name="username" id="username" th:value="${username}"><br> 
			<label for="password1">Password</label><input type="password"
				name="password1" id="password1"><br> 
			<label for="password">Re-enter Password</label><input type="password"
				name="password2" id="password2"><br> 
			<label for="fname">First Name</label><input type="text" 
				name="firstName" id="firstName"  th:value="${firstName}"><br>
			<label for="lname">Last Name</label><input type="text"
				name="lastName" id="lastName"  th:value="${lastName}"><br> 
			<label for="email">Email Address</label><input type="text" 
				name="email" id="email"   th:value="${email}"><p>
			
			<input type="submit" value="Save">
	</form>
</body>
</html>